.c-card-navigation {
  padding: rem(140) 0 rem(140);
  color: color(dark);

  &__image {
	height: rem(148);
	margin-bottom: rem(10);
	background-color: color(grey-200);

	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }

  &-content {
	@include flex(row, wrap, space-between, center);

	margin-bottom: rem(31);

	&__title {
	  font-size: rem(10);
	}

	&__date {
	  font-size: rem(10);
	  color: color(grey-400);
	}
  }

  &-link {
	@include flex(row, wrap, center, center);

	gap: rem(10);

	&__text {
	  @extend %fw-600;

	  font-size: rem(14);
	}
  }

  &--prev {
	.c-card-navigation-link {
	  justify-content: flex-start;
	}
  }

  &--next {
	.c-card-navigation-link {
	  justify-content: flex-end;
	}
  }
}
