.c-post-card {
  @extend %br--8;

  background-color: color(light);
  box-shadow: $default-shadow;
  overflow: hidden;

  &__thumbnail {
	height: rem(170);
	background-color: color(grey-200);

	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }

  &-content {
	@include flex(row, wrap, space-between, center);

	padding: rem(8) rem(9) rem(28);

	&__category {
	  font-size: rem(10);
	  text-transform: uppercase;
	}

	&__date {
	  color: color(grey-400);
	  font-size: rem(10);
	}
  }

  &-body {
	padding: 0 rem(9);

	&__title {
	  @extend %fw-600;

	  font-size: rem(14);
	}

	&__excerpt {
	  font-size: rem(10);
	}
  }

  &-footer {
	@include flex(row, wrap, center, center);

	gap: rem(12);
	padding: rem(14) 0 rem(16);
  }
}
