.c-missions {
  .c-title {
	@extend %fs-10;

	color: color(grey-600);
	margin-bottom: rem(14);
  }

  .c-card {
	overflow-x: scroll;
	padding-bottom: 0;

	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar {
	  display: none;
	}
  }

  &-table {
	@extend %fs-12;

	width: 100%;
	border-spacing: 0;

	thead {
	  tr {
		th {
		  @extend %fw-400;
		  @extend %fs-10;

		  color: color('grey-500');
		  text-align: center;

		  &:first-child, &:last-child {
			text-align: left;
		  }

		  &:last-child {
			padding-left: rem(30);
		  }
		}
	  }
	}

	tbody {
	  tr {
		td {
		  border-bottom: rem(1) solid color(grey-200);
		  padding: rem(20);
		  text-align: center;
		  white-space: nowrap;

		  &:first-child, &:last-child {
			text-align: left;
		  }
		}

		&:last-child {
		  td {
			border-bottom: none;
		  }
		}
	  }
	}

	&-item {
	  color: color(primary);

	  &--first {
		padding: rem(20) rem(60) rem(20) 0 !important;
	  }

	  &--last {
		padding-left: rem(30) !important;
	  }

	  &__bold {
		@extend %fw-700;

	  }
	}
  }
}
