.c-total-worked {
  .c-title {
	@extend %fs-10;

	color: color(grey-600);
	margin-bottom: rem(14);
  }

  .c-card {
	@include flex(row, nowrap, center, center);

	gap: rem(20);
	padding: rem(19) rem(51) rem(19) rem(58);
  }

  &-icon {
	position: relative;

	i {
	  &:nth-child(1) {
		font-size: rem(50);
	  }

	  &:nth-child(2) {
		@extend %fs-14;

		background-color: color(light);
		padding: 0 rem(4);
		position: absolute;
		bottom: 0;
		right: rem(-5);
		z-index: 9;
	  }
	}
  }

  &-content {
	&__time {
	  @extend %fs-20;
	  @extend %fw-600;

	  margin-bottom: rem(10);
	}

	&__text{
	  @extend %fs-12;
	  @extend %fw-400;

	  color: color('primary-200');
	}
  }
}
