@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e506d2');
  src:  url('fonts/icomoon.eot?e506d2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e506d2') format('truetype'),
    url('fonts/icomoon.woff?e506d2') format('woff'),
    url('fonts/icomoon.svg?e506d2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjust-circle:before {
  content: "\e900";
}
.icon-arobase:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-bike:before {
  content: "\e907";
}
.icon-book-alt:before {
  content: "\e908";
}
.icon-briefcase:before {
  content: "\e909";
}
.icon-bus:before {
  content: "\e90a";
}
.icon-calendar-alt:before {
  content: "\e90b";
}
.icon-car:before {
  content: "\e90c";
}
.icon-chart-down:before {
  content: "\e90d";
}
.icon-chart-pie-alt:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-clock-eight:before {
  content: "\e910";
}
.icon-clock-five:before {
  content: "\e911";
}
.icon-cog:before {
  content: "\e912";
}
.icon-comment:before {
  content: "\e913";
}
.icon-compress-point:before {
  content: "\e914";
}
.icon-contract-sign:before {
  content: "\e915";
}
.icon-create-dashboard:before {
  content: "\e916";
}
.icon-cutlery:before {
  content: "\e917";
}
.icon-desktop:before {
  content: "\e918";
}
.icon-diploma:before {
  content: "\e919";
}
.icon-document-info:before {
  content: "\e91a";
}
.icon-edit-alt:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e91c";
}
.icon-euro-rounded:before {
  content: "\e91d";
}
.icon-exclamation-circle:before {
  content: "\e91e";
}
.icon-exclamation-triangle:before {
  content: "\e91f";
}
.icon-external-link-alt:before {
  content: "\e920";
}
.icon-eye:before {
  content: "\e921";
}
.icon-galaxy:before {
  content: "\e922";
}
.icon-grid:before {
  content: "\e923";
}
.icon-left-arrow-from-left:before {
  content: "\e924";
}
.icon-left-arrow-to-left:before {
  content: "\e925";
}
.icon-minus-circle:before {
  content: "\e926";
}
.icon-notebooks:before {
  content: "\e927";
}
.icon-phone:before {
  content: "\e928";
}
.icon-pin:before {
  content: "\e929";
}
.icon-planning-event:before {
  content: "\e92a";
}
.icon-plus-circle:before {
  content: "\e92b";
}
.icon-plus:before {
  content: "\e92c";
}
.icon-pricetag-alt:before {
  content: "\e92d";
}
.icon-promotion-percent:before {
  content: "\e92e";
}
.icon-puzzle:before {
  content: "\e92f";
}
.icon-question-circle:before {
  content: "\e930";
}
.icon-scaling-left:before {
  content: "\e931";
}
.icon-scooter:before {
  content: "\e932";
}
.icon-spanner:before {
  content: "\e933";
}
.icon-stopwatch:before {
  content: "\e934";
}
.icon-talk:before {
  content: "\e935";
}
.icon-target:before {
  content: "\e936";
}
.icon-times:before {
  content: "\e937";
}
.icon-train:before {
  content: "\e938";
}
.icon-transports:before {
  content: "\e939";
}
.icon-trash:before {
  content: "\e93a";
}
.icon-trophee:before {
  content: "\e93b";
}
.icon-trophy:before {
  content: "\e93c";
}
.icon-unlock:before {
  content: "\e93d";
}
.icon-upload:before {
  content: "\e93e";
}
.icon-user:before {
  content: "\e93f";
}
.icon-users-alt:before {
  content: "\e940";
}
.icon-walk:before {
  content: "\e941";
}
.icon-window-grid:before {
  content: "\e942";
}
.icon-user-square:before {
  content: "\e943";
}
