.c-accordion {
  @extend %br--4;

  border: 1px solid color(secondary-200);
  padding: rem(16) rem(35);
  overflow: hidden;

  .c-icon {
    max-width: rem(15);
  }

  &[open] {
    .c-accordion {
      &__opened {
        display: flex;
      }

      &__closed {
          display: none;
      }
    }
  }

  &__title {
    @extend %fw-700;
    @include flex(row, nowrap, flex-start, center);

    cursor: pointer;
    position: relative;
    padding-right: rem(40);
    gap: rem(20);

    .c-accordion {
      &__opened,
      &__closed {
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: rem(15);
      }

      &__opened {
        display: none;
      }

      &__closed {
        display: flex;
      }
    }

    &::marker {
      content: none;
    }
  }

  &__panel {
    padding-top: rem(20);
    transition: max-height 0.2s linear;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
