.c-notification {
	@extend %fs-12;

	display: grid;
	grid-template-columns: repeat(2, auto);
	align-items: center;
	justify-content: space-between;
	gap: rem(8);
	outline: none;

	&__type {
		@extend %fs-10;

		text-transform: uppercase;
	}

	&__name {
		@extend %fw-700;
	}

	&__time {
		color: color(grey-300);
		text-align: right;
	}

	&__module {

	}

	&-center {
		position: relative;
		&__ico {

		}
		> .c-badge{
			@include flex(row, nowrap, center, center);

			position: absolute;
			top: 0;
			right: 0;
			transform: translate(50%, -50%);
			width: rem(16);
			height: rem(16);
			padding: 0;
		}
		.c-modal {
			&--notification {
				margin: 0;
				max-width: rem(412px);
				aspect-ratio: initial;

				.c-link {
					@extend %fs-12;

					color: color(secondary-500);
					text-decoration: underline;
					outline: none;
				}

				.c-modal {
					&__header {
						position: sticky;
						background: color(light);
						top: 0;
						padding-bottom: rem(16);
					}

					&__footer {
						padding-top: rem(16);
					}

					&__content {
						@include scrollBarStyle;

						overflow-y: scroll;
						overflow-x: hidden;
						padding-right: rem(12);
						height: 100%;
						max-height: rem(300);
					}
				}

				.c-notifications {
					@include undoListStyles;

					> li {
						padding-block: rem(16);
						border-bottom: 1px solid color(grey-200);

						&:first-child {
							padding-top: 0;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}
