.c-card {
	@extend %br--16;
	@extend .c-card--padding-md;

	box-shadow: $default-shadow;
	border: 1px solid color(grey-100);
	position: relative;

	&__config {
		position: absolute;
		right: rem(16);
		top: rem(16);
	}

	&.c-card {
		&--padding {
			&-none {
				padding: 0;
			}

			&-sm {
				padding: rem(16) rem(8);
			}

			&-md {
				padding: rem(32) rem(24);
			}

			&-lg {
				padding: rem(32);
			}
		}
	}
}
