*[collapsable] {
	position: relative;

	.c-collapsable-trigger {
		@include verticalCenter;

		position: absolute;
		right: rem(16);
		transition: $default-transition;
		font-size: rem(10);
	}

	&.is-collapsed {
		.c-collapsable-trigger {
			transform: translateY(-50%) rotate(-90deg);
		}
	}
}
