*[collapsable] {
	position: relative;

	.c-collapsable-trigger {
		position: absolute;
		right: rem(16);
		transition: $default-transition;
		font-size: rem(10);
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
	}

	&.is-collapsed {
		.c-collapsable-trigger {
			transform: translateY(-50%) rotate(0);
		}
	}
}
