.c-galaxy {
	.c-modal {
		margin: 0;
		max-width: rem(500);

		@include breakpoint('md') {
			height: 50vh;
		}

		&__header {
			margin-bottom: rem(32);
		}

		&__content {
			padding-right: 0;
		}
	}

	&__ico {
		@extend %fs-24;

		color: color(grey-400);
		cursor: pointer;
		line-height: 1;
	}

	ul {
		@include undoListStyles;

		@include breakpoint('md') {
			column-gap: 0;
		}
	}

	.c-widget-edit {
		outline: none;

		.c-title {
			justify-content: center;
			text-align: center;
		}

		&__ico {
			border-radius: 0;
			padding: rem(20);

			> * {
				@include objectFit(contain);
			}
		}
	}
}
