.c-galaxy {
  .c-modal {
    margin: 0;
    max-width: rem(500);

    @include breakpoint('md') {
      height: 50vh;
    }

    &__header {
      margin-bottom: rem(32);
    }

    &__content {
      padding-right: 0;
    }
  }

  &:hover {
    .c-galaxy__ico {
      background-color: color(primary-500);
      color: white;

      > * {
        transform: scale(.75);
      }
    }
  }

  &__ico {
    @extend %fs-24;

    color: color(grey-400);
    cursor: pointer;
    line-height: 1;
    transition: all 0.3s ease;
    border-radius: 50%;
    padding: rem(8);
    width: rem(48);
    height: rem(48);

    > * {
      transition: transform 0.3s ease;
    }
  }

  ul {
    @include undoListStyles;

    @include breakpoint('md') {
      column-gap: 0;
    }
  }

  &__section {
    > .c-title {
      font-size: rem(10);
      color: color(grey-400);
    }
  }

  .c-galaxy-item {
    outline: none;

    .c-title {
      justify-content: center;
      text-align: center;

      &--h3 {
        font-size: rem(14);
      }
    }

    &__ico {
      border-radius: 0;
      padding: rem(20);

      > * {
        @include objectFit(contain);
      }
    }
  }

  .c-tabs {
    &--galaxy {
      margin-bottom: rem(24);

      .c-tabs__list {
        @include undoListStyles;
        @include flex(row, wrap, flex-start, center);
        gap: rem(12);
      }

      .c-tabs__item {
        .c-tabs__button {
          @extend %fs-12;
          @extend %br--12;
          @extend %fw-600;

          padding: rem(8) rem(12);
          letter-spacing: rem(-0.12);
          white-space: nowrap;
          display: inline-block;
          line-height: 1;
          background-color: color(grey-200);
          color: color(grey-700);
          border: none;
          cursor: pointer;
          transition: $default-transition;

          &:hover {
            background-color: color(primary-200);
            color: color(primary-700);
          }
        }

        &:hover,
        &.active {
          .c-tabs__button {
            background-color: color(primary-500);
            color: color(light);
            @extend %fw-700;
          }
        }
      }
    }
  }
}
