.c-ico-text {
	gap: rem(16);
	line-height: 1;

	&--direction {
		&-h {
			@include flex(row, nowrap, flex-start, center);
		}

		&-v {
			@include flex(column, nowrap, center, flex-start);

			text-align: center;
		}
	}

	&--appearance {
		&-1 {
		}

		&-2 {
			.c-ico-text {
				&__ico {
					@extend %fs-20;

					padding: rem(15);
					max-width: rem(60);
					aspect-ratio: 1;
					border-radius: 50%;
				}
			}
		}
	}

	&__ico {
		transition: $default-transition;
		min-width: rem(25);
		max-width: rem(32);
		> * {
			@include objectFit(contain);

			transform: scale(.8);
		}
	}

	&__text {
		transition: $default-transition;
		word-break: break-word;
	}
}
