.c-impersonate {
	&__form {
		@include flex(row, wrap, center, center);
		@extend %br--8;
		@extend .c-button-group;

		z-index: 11;
		position: fixed;
		background-color: color(primary-200);
		padding: rem(16);
		box-shadow: $default-shadow;
		transform: translateY(10px);
		opacity: 0;
		visibility: hidden;
		width: 100%;
		max-width: 500px;

		.ts-wrapper {
			max-width: 300px;
			width: 100%;
		}

		.ts-dropdown {
			@extend %br--4;

			top: unset;
			bottom: 100%;
			border-top: 1px solid #d0d0d0;
			border-bottom: 0 none;
		}
	}

	.c-button {
		@extend %fs-16;
	}
}
