.c-impersonate {
	@include flex(row, nowrap, center, center);
	@extend %br--8;

	z-index: 11;
	position: fixed;
	bottom: calc(#{$p-app} + rem(16));
	left: calc(#{$p-app} + rem(16));
	background-color: color(primary-200);
	padding: rem(16);
	box-shadow: $default-shadow;

	form {
		@extend .c-button-group;
		@include flex(row, nowrap, center, center);

		.ts-dropdown {
			@extend %br--4;

			top: unset;
			bottom: 100%;
			border-top: 1px solid #d0d0d0;
			border-bottom: 0 none;
		}
	}
}
