.c-list {
	@include undoListStyles;

	display: grid;
	grid-template-columns: 1fr;
	gap: rem(8);

	&-card {
		gap: rem(16);

		.c-card {
			@extend %fs-14;
			@extend %fw-700;

			padding: rem(8) rem(32);
		}
	}

	&-item {
		@include flex(row, nowrap, space-between, center);
		@extend %br--6;

		padding: rem(14) rem(12);
		border: 1px solid color(grey-100);

		&__name {
			@extend %fw-700;
			@extend %fs-14;
		}

		&__date {
			@extend %fs-10;
		}
	}
}
