$colors: (
	error: #C93737,
	success: #2ECC71,
);

.c-toast {
	@extend %fs-20;
	@include flex(row, nowrap, flex-start, center);
	@extend %br--16;

	padding: rem(28);
	gap: rem(10);
	cursor: pointer;

	&-container {
		position: fixed;
		top: calc(#{$p-app} * 2);
		right: calc(#{$p-app} * 2);
		z-index: 9999;
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(10);
		max-width: rem(400);
		width: 100%;
	}

	&__ico {
		> * {
			@include objectFit(contain);

			font-size: 170%;
		}
	}

	&__title {
		flex: 1;
	}

	@each $name, $color in $colors {
		&-#{$name} {
			background-color: $color;
			color: contrast-color($color, $dark, $light);
		}
	}
}
