.c-users {
	@include flex(row, nowrap, center, stretch);

	gap: rem(3);

	> * {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		overflow: hidden;
		background-color: color(secondary-500);

		& + * {
			margin-left: rem(-19);
			transition: $default-transition;
		}
	}

	&__item {
		&--remaining {
			@include flex(row, nowrap, center, center);

			background-color: color(primary-500);
		}

		img {
			@include objectFit(cover, center, auto, 100%);
		}
	}

	&:hover {
		> * {
			& + * {
				margin-left: 0;
			}
		}
	}
}
