<{{ tag }}{{ attributes.defaults({ class: 'c-button c-button--'~appearance~(' c-button--style-'~btn_style)~(only_ico ? ' c-button--is-only-ico' : '') }) }}>
{% block ico %}
    {% if ico %}
        <div class="c-button__ico">
            <twig:ux:icon :name="ico" />
        </div>
    {% endif %}
{% endblock %}
    {% block content %}{% endblock %}
</{{ tag }}>
