<div{{ attributes.defaults(stimulus_controller('switch')) }}>
    {% set id = 'switch_'~random()~object.id %}
    <div class="form-group">
        <div class="form-switch">
            <input id="{{ id }}" type="checkbox"  {{ attribute(object, property) ? 'checked' }} data-action="live#action" data-live-action-param="toggle">
        </div>
    </div>
</div>
