<template id="tooltip-template">
    <div class="c-tooltip">
        <div class="c-tooltip__ico">
            <i class="icomoon-%ico%"></i>
        </div>
        <div class="c-tooltip__title">%message%</div>
    </div>
</template>
