<template id="tooltip-template">
    <div class="c-tooltip">
        <div class="c-tooltip__ico">
            %ico%
        </div>
        <div class="c-tooltip__title">%message%</div>
    </div>
</template>
