<div class="c-users">
    {% for userAccessRight in userAccessRights|slice(0, max) %}
        <div class="c-users__item">
            <img loading="lazy" src="{{ path('stream_document', {entity: 'App\\Entity\\User', id: userAccessRight.user.id, fieldName: 'avatarFile'}) }}" alt="Avatar">
        </div>
    {% endfor %}
    {% if userAccessRights|length > max %}
        <div class="c-users__item c-users__item--remaining">
            + {{ userAccessRights|length - max }}
        </div>
    {% endif %}
</div>