.l-flex {
	display: flex;
	gap: $flex-gap;

	&--row {
		flex-direction: row;
	}

	&--column {
		flex-direction: column;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--nowrap {
		flex-wrap: nowrap;
	}

	&--center {
		justify-content: center;
	}

	&--start {
		justify-content: flex-start;
	}

	&--end {
		justify-content: flex-end;
	}

	&--between {
		justify-content: space-between;
	}

	&--around {
		justify-content: space-around;
	}

	&--align-center {
		align-items: center;
	}

	&--align-start {
		align-items: flex-start;
	}

	&--align-end {
		align-items: flex-end;
	}

	&--align-stretch {
		align-items: stretch;
	}

	> * {
		&.l-flex-item {

			&--end {
				margin-left: auto;
			}

			&--start {
				margin-right: auto;
			}
		}
	}
}
