@import "header";
@import "grid";
@import "flex";
@import "sidebar";

.container {
	margin: 0 auto;
}

@each $breakpoint, $value in $breakpoints {
	.container-#{$breakpoint} {
		max-width: $value;
	}
}

.l-app {
	display: grid;
	grid-template-columns: min(#{rem(280px)}, 100%) 1fr;
	grid-template-rows: auto;
	background-color: color(primary-500);
	color: color(light);
	padding: rem($p-app);
	min-height: 100vh;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	transition: $default-transition;

	@include breakpoint(md) {
		display: flex;
		flex-flow: column nowrap;
	}
}

.l-main {
	@extend %br--24;
	@include scrollBarStyle();

	background-color: color(light);
	color: color(primary-400);
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	overflow-y: scroll;
	height: -webkit-fill-available;

	@include breakpoint(md) {
		height: calc(100vh - #{$p-app * 2} - #{$h-minified-brand-mq});
		margin-top: auto;
	}
}

.l-content {
	padding: 0 rem($ph-main) rem($pv-main);
}
