.s-externalLink-crud {
  &__list {
	.c-externalLink-list {
	  padding: rem(16) rem(24);
	  margin-bottom: rem(7);
	  margin-right: 0;
	  background-color: transparent;
	  color: color('primary');
	  border-color: color('grey-100');


	  &:last-child {
		margin-bottom: 0;
	  }

	  &:hover {
		border-color: color(danger-500);
	  }
	}
  }

  &__form {
	.c-card {
	  border-color: color(danger-500);
	  padding: rem(53) rem(32);

	  .c-title{
		margin-bottom: rem(50);
	  }
	}
  }
}
