.c-chart-transportType {
  .c-card {
	@include flex(row, wrap, center, center);

	gap: rem(36);


	.c-title {
	  justify-content: center;
	  margin-top: rem(28);
	  text-transform: uppercase;
	}
  }
}
