.c-list-card-transport {
  @extend %fs-14;
  @extend %fw-600;

  .c-card {
	padding: rem(10) rem(20);
  }

  &-header {
	@extend %fw-700;
	@include flex(row, nowrap, space-between, center);

	&__transport {
	  @include flex(row, nowrap, flex-start, center);

	  gap: rem(9);

	  i {
		@extend %fs-16;
	  }
	}
  }

  &-footer {
	@include flex(row, nowrap, flex-end, center);

	gap: rem(12);
  }
}
