.c-form-card {
  .c-card {
	@include flex(column, nowrap, center, center);

	padding: 0;

	> a {
	  width: 100%;
	}
  }

  &-body {
	@include flex(column, nowrap, center, center);

	padding: rem(62) rem(39) 0;

	&__thumbnail {
	  height: rem(61);
	  width: rem(61);

	  img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	  }
	}

	&__title {
	  @extend %fw-600;

	  color: color(light);
	  padding: rem(26) 0 rem(28);
	}
  }


  &-footer {
	@include flex(row, wrap, center, center);

	gap: rem(12);
	padding-bottom: rem(20);

	.c-button {
	  &--outline {
		border: 1px solid color(light);
		color: color(light);

		&:hover {
		  background: color(light);
		  color: color(dark);
		}
	  }
	}
  }
}
