*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-top: 0;
}

body {
    @include scrollBarStyle;

    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    &[trigger-sidebar] {
        cursor: pointer;
    }

    &[hidden] {
        display: none;
    }
}

.u-overflow-y-scroll {
    @include scrollBarStyle;

    overflow-y: scroll;
    height: 100%;
}

.u-center-x {
    margin-inline: auto;
}

.u-left {
    margin-inline-end: auto;
}

.u-right {
    margin-inline-start: auto;
}

.u-shadow {
    box-shadow: $default-shadow;
}

.u-bg {
    @each $name, $color in $colors-scheme-light {
        @if type-of($color) == 'map' {
            @each $shade, $value in $color {
                &-#{$name}-#{$shade} {
                    background-color: color(#{$name}-#{$shade}) !important;
                }
            }
        } @else {
            &-#{$name} {
                background-color: color(#{$name});
            }
        }
    }

    &--c {
        position: relative;
        overflow: hidden;
        z-index: 0;

        &:before {
            @extend %fw-700;

            content: "c";
            position: absolute;
            top: 100%;
            left: 15%;
            transform: translateY(-25%) rotate(45deg);
            color: color(light);
            font-size: 400px;
            opacity: .1;
            line-height: .5;
            z-index: -1;
        }

        &-1 {
            &:before {
                font-size: 600px;
                transform: translateY(-20%) rotate(-45deg);
                top: 0;
                left: 0;
                transform-origin: top left;
            }
        }
    }
}
