$font-family: "Sora", sans-serif;
$html-font-size: 16px;
$line-height: 1;

$default-transition: .3s ease;

$p-app: 12px;
$ph-main: 20px;
$pv-main: 16px;

$default-shadow: 1.95055px 3.9011px 9.75275px -2.92583px rgba(40, 42, 73, 0.15);

$brs: (
	'0': 0,
	'4': 4px,
	'6': 6px,
	'8': 8px,
	'12': 12px,
	'16': 16px,
	'24': 24px,
	'32': 32px,
	'48': 48px,
);

$grid-gap: 28px;

$threshold: 70%;

$breakpoints: (
	"xs": 0,
	"sm": 320px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px,
);

$spaces: (
	0: 0,
	1: 4,
	2: 8,
	3: 16,
	4: 32,
	5: 64,
);
